*{
    margin: 0;
    padding: 0%;
}


body{
    background-color: rgb(92, 150, 212);
    text-align: center;
}
.container{
    height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.game{
    height:60vmin;
    width: 60vmin;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 1.5vmin;
}
.box{
    height: 18vmin;
    width: 18vmin;
    border-radius: 1rem;
    border: none;
    box-shadow: 10px 10px rgb(50, 52, 53);
    font-size: 6vmin;
    color: rgb(22, 23, 19);
    background-color: rgb(195, 192, 180);
}

#reset-btn{
    padding: 1rem;
    font-size: 1.25rem;
    background-color: rgb(41, 19, 128);
    color: aliceblue;
    box-shadow: 10px 10px rgb(47, 67, 76);
    border-radius: 1rem;
    
}

#new-btn{
    padding: 1rem;
    font-size: 1.25rem;
    background-color: rgb(37, 99, 170);
    color: aliceblue;
    box-shadow: 10px 10px rgb(50, 52, 53);
    border-radius: 1rem;
}

#msg{
    color: rgb(0, 0, 0);
    font-size: 5vmin;
}

.msg-container{
    height: 20vmin;
}

.hide{
    display: none;
}